.header-banner {
  background-color: var(--dark-color);
}

.header-banner {
  padding: 10px 0;
}

.header-body-container {
  max-width: var(--body-width);
  margin: 0 auto;
  text-align: center;
}

.header-title {
  color: var(--light-color);
}

.header-title {
  text-transform: uppercase;
}

.header-link {
  text-decoration: none;
}

.header-span-title {
  color: var(--accent-color)
}
