.search-container {
  width: 100%;
}

.search-results {
  max-height: 10rem;
  overflow: scroll;
}

.search-link-text-decor {
  color: var(--dark-color);
}

.search-link-spacing {
  margin: 15px 0;
}

.search-link-styling {
  list-style: none;
}

.search-bar {
  width: 100%;
  padding: 10px;
}
