@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --light-color: #eef5db;
  --dark-color: #4f6367;
  --accent-color: #fe5f55;

  --body-width: 500px;
}

body {
  background-color: var(--light-color);
  color: var(--dark-color);
}

body {
  font-family: 'Nunito', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}
